

#left-top{
    position: absolute;
	width:15%;
	height: 15%;
    left: 15%;
    top: 15%;
}

#right-top{
    position: absolute;
	height: 15%;
	width:15%;
    right: 15%;
    top: 15%;
}

#left-bottom{
    position: absolute;
	height: 15%;
	width:15%;
    left: 15%;
    bottom: 15%;
}

#right-bottom{
    position: absolute;
	height: 15%;
	width:15%;
    right: 15%;
    bottom: 15%;
}

.lt {
	left:0;
	top:0;
    background-color: #FF0000;
}

.rt {
	right:0;
	top:0;
    background-color: #00FF00;
}

.lb {
	left:0;
	bottom:0;
    background-color: #000eff;
}

.rb {
	right:0;
	bottom:0;
    background-color: #ffe700;
}

body div.box > div {
	position: absolute;
	width: 50%;
	height: 50%;
}